<section class="ui text container">
  <div class="proposal">
    <h2>Name of the proposal</h2>
    <div class="deadline">
      {{ 'Deadline' | translate:lang }}:
      <span>25 December 2017</span>
    </div>

    <h4>{{ 'Summary' | translate:lang }}</h4>
    <p class="summary">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
      irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>

    <h4><a>{{ 'Original source' | translate:lang }}</a></h4>


    <h4>{{ 'Motivation' | translate:lang }}</h4>
    <p class="motivation">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
      irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      <br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

      <br /> <br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

      <br /> <br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>

    <h4>{{ 'Measures' | translate:lang }}</h4>
    <p class="measures">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      <br /> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem
      ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
      irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

      <br /> <br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

      <br /> <br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
  </div>

  <div class="votes">
    <h3 class="ui dividing header">{{ 'Votes' | translate:lang }}</h3>

    <div class="ui statistics">
      <div class="statistic favour">
        <div class="label">
          {{ 'In favour' | translate:lang }}
        </div>
        <div class="value">
          40%
        </div>
        <button class="ui green button">
          <i class="thumbs up icon"></i>
          {{ 'Vote in favour' | translate:lang }}
        </button>
      </div>
      <div class="statistic against">
        <div class="label">
          {{ 'Against' | translate:lang }}
        </div>
        <div class="value">
          60%
        </div>
        <button class="ui red button">
          <i class="thumbs down icon"></i>
          {{ 'Vote against' | translate:lang }}
        </button>
      </div>
    </div>

  </div>

  <div class="ui comments">
    <h3 class="ui dividing header">{{ 'Comments' | translate:lang }}</h3>

    <div class="comment">
      <div class="content">
        <a class="author">username</a>
        <div class="metadata">
          <span class="date">Today at 5:42PM</span>
        </div>
        <div class="text">
          Lorem ipsum dolor sit amet
        </div>
        <div class="actions">
          <a class="reply">{{ 'Reply' | translate:lang }}</a>
        </div>
      </div>
    </div>

    <div class="comment">
      <div class="content">
        <a class="author">username</a>
        <div class="metadata">
          <span class="date">Yesterday at 12:30AM</span>
        </div>
        <div class="text">
          Duis aute irure dolor in reprehenderit in voluptate
        </div>
        <div class="actions">
          <a class="reply">{{ 'Reply' | translate:lang }}</a>
        </div>
      </div>
      <div class="comments">
        <div class="comment">
          <div class="content">
            <a class="author">username</a>
            <div class="metadata">
              <span class="date">Just now</span>
            </div>
            <div class="text">
              Consectetur adipiscing elit, sed do eiusmod
            </div>
            <div class="actions">
              <a class="reply">{{ 'Reply' | translate:lang }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="comment">
      <div class="content">
        <a class="author">username</a>
        <div class="metadata">
          <span class="date">5 days ago</span>
        </div>
        <div class="text">
          Dolor in reprehenderit
        </div>
        <div class="actions">
          <a class="reply">{{ 'Reply' | translate:lang }}</a>
        </div>
      </div>
    </div>
    <form class="ui reply form">
      <div class="field">
        <textarea></textarea>
      </div>
      <div class="ui blue labeled submit icon button">
        <i class="icon edit"></i> {{ 'Add comment' | translate:lang }}
      </div>
    </form>
  </div>
</section>