<section class="ui text container" *ngIf="proposal">
  <div class="proposal">
    <h2>{{ proposal.title }}</h2>
    <div class="deadline">
      {{ 'Deadline' | translate:lang }}:
      <span>{{ proposal.dueDate | localeDate:lang:'fullDate' }}</span>
    </div>

    <h4>{{ 'Summary' | translate:lang }}</h4>
    <p class="summary">{{ proposal.brief }}</p>

    <h4><a href="{{ proposal.source }}">{{ 'Original source' | translate:lang }}</a></h4>


    <h4>{{ 'Motivation' | translate:lang }}</h4>
    <p class="motivation">{{ proposal.motivation }}</p>

    <h4>{{ 'Measures' | translate:lang }}</h4>
    <p class="measures">{{ proposal.measures }}</p>

    <a *ngIf="hasEditButton()" class="ui yellow labeled icon button" routerLink="/proposals/{{ proposal.id }}/edit">
      <i class="write icon"></i> {{ 'Edit proposal' | translate:lang }}
    </a>
  </div>



  <div class="votes" *ngIf="proposal.isPublished()">
    <h3 class="ui dividing header">{{ 'Votes' | translate:lang }}</h3>

    <div class="ui statistics">
      <div class="statistic favour">
        <div class="label">
          {{ 'In favour' | translate:lang }}
        </div>
        <div class="value">
          {{ proposal.votes.FAVOUR * 100 }}%
        </div>
        <button class="ui green button" (click)="voteProposal('FAVOUR')" *ngIf="optionVoted !== 'FAVOUR'">
          <i class="thumbs up icon"></i>
          {{ 'Vote in favour' | translate:lang }}
        </button>
        <button class="ui yellow button" (click)="voteProposal('WITHDRAW')" *ngIf="optionVoted === 'FAVOUR'">
          {{ 'Withdraw vote' | translate:lang }}
        </button>
      </div>
      <div class="statistic against">
        <div class="label">
          {{ 'Against' | translate:lang }}
        </div>
        <div class="value">
          {{ proposal.votes.AGAINST * 100 }}%
        </div>
        <button class="ui red button" (click)="voteProposal('AGAINST')" *ngIf="optionVoted !== 'AGAINST'">
          <i class="thumbs down icon"></i>
          {{ 'Vote against' | translate:lang }}
        </button>
        <button class="ui yellow button" (click)="voteProposal('WITHDRAW')" *ngIf="optionVoted === 'AGAINST'">
          {{ 'Withdraw vote' | translate:lang }}
        </button>
      </div>
    </div>

  </div>

  <div class="ui comments" [ngClass]="{'loading form': loadingComments}">
    <h3 class="ui dividing header">{{ 'Comments' | translate:lang }}</h3>

    <p class="ui info message" *ngIf="!proposal.hasComments() && proposal.isPublished()">
      {{ 'There are no comments, be the first one!' | translate:lang }}
    </p>

    <div class="comment" *ngFor="let comment of proposal.comments">
      <div class="content" id="{{ comment.id }}">
        <a class="author" routerLink="/user/{{ comment.authorUsername }}">{{ comment.authorUsername }}</a>
        <div class="metadata">
          <span class="date">{{ comment.timestamp | localeDate:lang:'fullDate' }}</span>
        </div>
        <div class="text">
          {{ comment.content }}
        </div>
        <div class="actions">
          <a class="reply">{{ 'Reply' | translate:lang }}</a>
        </div>
        <div class="comments" *ngIf="comment.hasComments()">
          <div class="comment" *ngFor="let subComment of comment.comments" id="{{ subComment.id }}">
            <div class="content">
              <a class="author" routerLink="/user/{{ subComment.authorUsername }}">{{ subComment.authorUsername }}</a>
              <div class="metadata">
                <span class="date">{{ subComment.timestamp | localeDate:lang:'fullDate' }}</span>
              </div>
              <div class="text">
                {{ subComment.content }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <form class="ui reply form" (ngSubmit)="createComment()" [ngClass]="{'loading': loadingCreateComment}" #commentForm="ngForm" *ngIf="proposal.isPublished()">
      <div class="field">
        <textarea name="comment" [(ngModel)]="comment.content" required></textarea>
      </div>
      <button class="ui blue labeled submit icon button" type="submit" [disabled]="!commentForm.form.valid">
        <i class="icon edit"></i> {{ 'Add comment' | translate:lang }}
      </button>
    </form>
  </div>
</section>
