<section class="ui container proposals">
  <h2 *ngIf="hasFollows()">{{ 'Pending follow approvals' | translate:lang }}</h2>
  <div class="ui grid">
    <div class="four wide computer eight wide tablet sixteen wide mobile column" *ngFor="let rel of follows">
      <a class="ui fluid card" (click)="acceptFollow(rel.originId)">
        <div class="content">
          <div class="header">{{ rel.originUsername }}</div>
        </div>
        <div class="ui bottom attached basic blue button">
          {{ 'Accept follow' | translate:lang }}
        </div>
      </a>
    </div>
  </div>

  <h2 *ngIf="hasTrusts()">{{ 'Pending trust approvals' | translate:lang }}</h2>
  <div class="ui grid">
    <div class="four wide computer eight wide tablet sixteen wide mobile column" *ngFor="let rel of trusts">
      <a class="ui fluid card" (click)="acceptTrust(rel.originId)">
        <div class="content">
          <div class="header">{{ rel.originUsername }}</div>
        </div>
        <div class="ui bottom attached basic blue button">
          {{ 'Accept trust' | translate:lang }}
        </div>
      </a>
    </div>
  </div>

  <h2>{{ 'All users' | translate:lang }}</h2>
  <div class="ui grid">
    <div class="four wide computer eight wide tablet sixteen wide mobile column" *ngFor="let user of users">
      <a class="ui fluid card" routerLink="/user/{{ user.username }}">
        <div class="content">
          <div class="header">{{ user.username }}</div>
          <div class="meta">
            <span class="category">10 {{ 'units of trust' | translate:lang }}</span>
          </div>
        </div>
        <div class="ui bottom attached basic blue button">
          {{ 'View user' | translate:lang }}
        </div>
      </a>
    </div>
  </div>
</section>
