<div class="ui grid container">
  <div class="four wide computer five wide tablet sixteen wide mobile column">
    <div class="ui card account-card">
      <div class="content">
        <div class="header"><a routerLink="/user/{{ user.username }}">{{ user.username }}</a></div>
        <div class="meta">{{ user.name }} {{ user.surname }}</div>
        <div class="meta">5 {{ 'units of trust' | translate:lang }}</div>
      </div>
      <div class="extra content" *ngIf="hasPending">
        <a class="ui teal label" routerLink="/users">
          <i class="alarm icon"></i> {{ 'You have pending requests!' | translate:lang }}
        </a>
      </div>
      <div class="extra content">
        <p>{{ 'Trust relationships' | translate:lang }}</p>
        <a routerLink="/users/trust">
          <i class="users icon"></i>
          <i class="angle right icon"></i> {{ trustedCount }}
          <i class="angle right icon"></i>
          <i class="user icon"></i>
          <i class="angle right icon"></i> {{ trustingCount }}
          <i class="angle right icon"></i>
          <i class="users icon"></i>
        </a>
      </div>
      <div class="extra content">
        <p>{{ 'Follow relationships' | translate:lang }}</p>
        <a routerLink="/users/follow">
          <i class="users icon"></i>
          <i class="angle right icon"></i> {{ followedCount }}
          <i class="angle right icon"></i>
          <i class="user icon"></i>
          <i class="angle right icon"></i> {{ followingCount }}
          <i class="angle right icon"></i>
          <i class="users icon"></i>
        </a>
      </div>
      <a class="ui attached violet labeled icon basic button" routerLink="/proposals/new/edit">
        <i class="write icon"></i> {{ 'Create proposal' | translate:lang }}
      </a>
      <a class="ui bottom attached violet labeled icon button" routerLink="/user/edit">
        <i class="setting icon"></i> {{ 'Edit account' | translate:lang }}
      </a>
    </div>

    <div class="ui divided items proposals">
      <h3>{{ 'Trending proposals' | translate:lang }}</h3>
      <div class="item" *ngFor="let proposal of featuredProposals">
        <div class="content">
          <a class="header" routerLink="/proposals/{{ proposal.id }}">{{ proposal.title }}</a>
          <div class="meta">
            <span>7 days ago</span>
          </div>
          <div class="description">
            <p>
              {{ proposal.brief }}
            </p>
          </div>
          <div class="extra">
            <a routerLink="/proposals/{{ proposal.id }}"><i class="file text outline icon"></i> {{ 'View proposal' | translate:lang }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="twelve wide computer eleven wide tablet sixteen wide mobile column">
    <div class="ui feed">

      <ng-container *ngFor="let event of events">
        <ng-container [ngSwitch]="event.type">

          <div class="event publication" *ngSwitchCase="'PUBLICATION'">
            <div class="content">
              <div class="ui teal ribbon label">
                <i class="announcement icon"></i> {{ 'Publication' | translate:lang }}
              </div>

              <div class="summary">
                <a class="user" routerLink="/user/{{ event.username }}">{{ event.username }}</a> {{ 'published the proposal'
                | translate:lang }}
                <a routerLink="/proposals/{{ event.proposalId }}">{{ event.title }}</a>
                <div class="date">
                  {{ event.timestamp | localeDate:lang:'fullDate' }}
                </div>
              </div>

              <div class="extra text">
                <blockquote>{{ event.brief }}</blockquote>
              </div>
              <div class="meta">
                <a routerLink="/proposals/{{ event.proposalId }}">{{ 'View proposal' | translate:lang }} <i class="file text outline icon"></i></a>
              </div>
            </div>
          </div>

          <div class="event modification" *ngSwitchCase="'MODIFICATION'">
            <div class="content">
              <div class="ui blue ribbon label">
                <i class="edit icon"></i> {{ 'Modification' | translate:lang }}
              </div>

              <div class="summary">
                <a class="user" routerLink="/user/{{ event.username }}">{{ event.username }}</a> {{ 'edited the proposal'
                | translate:lang }}
                <a routerLink="/proposals/{{ event.proposalId }}">{{ event.title }}</a>
                <div class="date">
                  {{ event.timestamp | localeDate:lang:'fullDate' }}
                </div>
              </div>
              <div class="extra text">
                <ng-container *ngFor="let deletion of event.deletions">
                  <a class="user" routerLink="/user/{{ deletion.username }}">
                  {{ deletion.username }}
                  </a> {{ 'deleted' | translate:lang }}:
                  <blockquote class="deleted">
                    {{ deletion.content }}
                  </blockquote>
                </ng-container>

                <ng-container *ngFor="let addition of event.additions">
                  <a class="user" routerLink="/user/{{ addition.username }}">
                    {{ addition.username }}
                  </a> {{ 'added' | translate:lang }}:
                  <blockquote class="added">
                    {{ addition.content }}
                  </blockquote>
                </ng-container>
              </div>
              <div class="meta">
                <a>{{ 'View changes' | translate:lang }} <i class="copy icon"></i></a>
              </div>
            </div>
          </div>

          <div class="event comment" *ngSwitchCase="'COMMENT'">
            <div class="content">
              <div class="ui brown ribbon label">
                <i class="talk icon"></i> {{ 'Comment' | translate:lang }}
              </div>

              <div class="summary">
                <a class="user" routerLink="/user/{{ event.username }}">{{ event.username }}</a> {{ 'commented in the proposal'
                | translate:lang }}
                <a routerLink="/proposals/{{ event.proposalId }}">{{ event.title }}</a>
                <div class="date">
                  {{ event.timestamp | localeDate:lang:'fullDate' }}
                </div>
              </div>
              <div class="extra text">
                <blockquote>{{ event.content }}</blockquote>
              </div>
              <div class="meta">
                <a routerLink="/proposals/{{ event.proposalId}}" fragment="{{ event.commentId }}">{{ 'View comment' | translate:lang }} <i class="comments outline icon"></i></a>
              </div>
            </div>
          </div>

          <div class="event vote" *ngSwitchCase="'VOTE'">
            <div class="content">
              <div class="ui orange ribbon label">
                <i class="thumbs up icon"></i> {{ 'Vote' | translate:lang }}
              </div>

              <div class="summary">
                <a class="user" routerLink="/user/{{ event.username }}">{{ event.username }}</a>
                <span class="border favour" *ngIf="event.option === 'FAVOUR'"> {{ 'voted in favour of the proposal' | translate:lang }}</span>
                <span class="border against" *ngIf="event.option === 'AGAINST'"> {{ 'voted against the proposal' | translate:lang }}</span>
                <a routerLink="/proposals/{{ event.proposalId }}">{{ event.title }}</a>
                <div class="date">
                  {{ event.timestamp | localeDate:lang:'fullDate' }}
                </div>
              </div>
              <div class="extra text">
                <div class="votes">
                  <div class="text {{ event.option.toLowerCase() }} contribution"><a class="user">{{ event.username }}</a> {{ 'contributed with a' | translate:lang }} {{ event.contributed
                    * 100 }}%</div>
                  <div class="legend">
                    <span class="text favour">{{ 'In favour' | translate:lang }}</span>
                    <span class="text against">{{ 'Against' | translate:lang }}</span>
                  </div>
                  <div class="bar">
                    <div class="favour" [style.flex]="event.favour">{{ event.favour * 100 }}%</div>
                    <div class="against" [style.flex]="event.against">{{ event.against * 100 }}%</div>
                  </div>
                </div>
              </div>
              <div class="meta">
                <a routerLink="/proposals/{{ event.proposalId }}">{{ 'View proposal' | translate:lang }} <i class="file text outline icon"></i></a>
              </div>
            </div>
          </div>

        </ng-container>
      </ng-container>

    </div>
  </div>
</div>
