<section class="ui raised segment text container login-form">
  <div class="primary-action">
    <h2>{{ 'Login' | translate:lang }}</h2>
    <form class="ui form">
      <div class="field">
        <label>{{ 'Email or username' | translate:lang }}</label>
        <input type="text" name="first-name" placeholder="{{ 'email or username' | translate:lang }}">
      </div>
      <div class="field">
        <label>{{ 'Password' | translate:lang }}</label>
        <input type="text" name="last-name" placeholder="{{ 'password' | translate:lang }}">
      </div>
      <div class="field">
        <div class="ui checkbox">
          <sui-checkbox [(ngModel)]="remember" name="remember">{{ 'Remember me' | translate:lang }}</sui-checkbox>
        </div>
      </div>
      <button class="ui green button" type="submit">{{ 'Login' | translate:lang }}</button>
    </form>
  </div
  >
  <div class="secondary-action">
    <h2>{{ "Don't have an account?" | translate:lang }}</h2>
    <p>{{ 'Register now and start participanting in democracy' | translate:lang }}.</p>
    <a class="ui basic blue button"  routerLink="/register">{{ 'Register' | translate:lang }}</a>
  </div>
</section>

<div class="background-image"></div>