@import '~styles/base/variables';

:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-header {
  background: #fff;
  width: 100%;
  position: fixed;
  z-index: 100;
  border-bottom: 1px solid #ddd;

  nav {
    display: flex;
    align-items: center;

    .item {
    padding: 0.6em;

      img {
        display: block;
        width: 2.9em;
      }

      &:last-child {
        margin-left: auto;
      }
    }
  }
}

.host-wrapper {
  flex: 1;
  display: flex;
  padding-top: 60px; 
}

.main-footer {
  background: $footer-background-color;
  color: $inverse-text-color;
  padding: 2em 0em;

  .footer-nav {
    display: flex;
    justify-content: space-between;
  }
}