<header class="main-header">
  <div class="ui container">
    <nav class="ui menu">
      <div class="item">
        <a routerLink="/">
          <img src="assets/images/logo-sm.png" alt="Trust Democracy logo" />
        </a>
      </div>

      <div class="right menu">
        <div class="item">
          <a routerLink="/proposals">
            <i class="file text outline icon"></i> {{ 'Proposals' | translate:lang }}
          </a>
        </div>
        <div class="item">
          <a routerLink="/users/follow">
            <i class="users icon"></i> {{ 'Users' | translate:lang }}
          </a>
        </div>
        <div class="item">
          <a routerLink="/login">
            {{ 'Log out' | translate:lang }}
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>
<main class="host-wrapper">
  <router-outlet></router-outlet>
</main>
<footer class="main-footer">
  <div class="ui container">
    <div class="footer-nav">
      <div class="item">
        {{ 'Title' | translate:lang }}
      </div>

      <div class="item">
        <a (click)="selectLanguage('es');"><i class="es flag"></i></a>
        <a (click)="selectLanguage('en');"><i class="gb flag"></i></a>
      </div>
    </div>
  </div>
</footer>
