@import '~styles/base/variables';

:host {
  min-width: 100%;

  .desktop-menu {
    width: 100%
  }

  .mobile-menu {
    display: flex;
    justify-content: space-between;

    .item {
      flex: 1;
      justify-content: center;
    }
  }

  .help-text {
    font-size: 0.8em;
    color: $subtle-color;
  }
}

.edit-form {
  button {
    width: 100%;
    text-transform: uppercase;
  }

  p.fade {
    opacity: 0;
    animation: fade 3s;
  }
}

@keyframes fade {
  from {opacity: 0}
  20% {opacity: 1}
  80% {opacity: 1}
  to {opacity: 0}
}
