<section class="ui container">
  <div class="ui grid">
    <div class="four wide column computer tablet only">
      <div class="ui secondary vertical menu desktop-menu">
        <a *ngFor="let tab of tabs" class="item" [class.active]="tab.id === currentTab" (click)="selectTab(tab.id)">{{ tab.name | translate:lang }}</a>
      </div>
    </div>

    <div class="sixteen wide column mobile only">
      <div class="ui secondary pointing menu mobile-menu">
        <a *ngFor="let tab of tabs" class="item" [class.active]="tab.id === currentTab" (click)="selectTab(tab.id)">{{ tab.name | translate:lang }}</a>
      </div>
    </div>

    <div class="eight wide computer eight wide tablet sixteen wide mobile column">
      <div class="edit-form" *ngIf="'profile' === currentTab">
        <h2>{{ 'Edit profile' | translate:lang }}</h2>
        <form class="ui form" [ngClass]="{'loading': loading}" (ngSubmit)="updateProfile()" #profileForm="ngForm">
          <div class="field">
            <label>{{ 'Username' | translate:lang }}</label>
            <input type="text" value="{{ user.username }}" disabled="disabled" />
          </div>
          <div class="field">
            <label>{{ 'Email' | translate:lang }}</label>
            <input type="text" value="{{ user.email }}" disabled="disabled" />
          </div>
          <div class="field">
            <label>{{ 'Name' | translate:lang }}</label>
            <input type="text" [(ngModel)]="user.name" name="name" placeholder="{{ 'Name' | translate:lang }}">
          </div>
          <div class="field">
            <label>{{ 'Surname' | translate:lang }}</label>
            <input type="text" [(ngModel)]="user.surname" name="surname" placeholder="{{ 'Surname' | translate:lang }}">
          </div>
          <button class="ui green button" type="submit">{{ 'Update' | translate:lang }}</button>
        </form>
      </div>

      <div class="edit-form" *ngIf="'visibility' === currentTab">
        <h2>{{ 'Visibility' | translate:lang }}</h2>
        <form class="ui form" [ngClass]="{'loading': loading}" (ngSubmit)="updateVisibility()" #visibilityForm="ngForm">
          <div class="grouped fields">
            <div class="field">
              <sui-radio-button value="PRIVATE" [(ngModel)]="user.visibility" name="visibility">
                <strong>{{ 'Private' | translate:lang }}</strong><br />
                {{ 'With private visibility only your username and name will be available for the people who is not following you' | translate:lang }}.
              </sui-radio-button>
            </div>

            <div class="field">
              <sui-radio-button value="PUBLIC" [(ngModel)]="user.visibility" name="visibility">
                <strong>{{ 'Public' | translate:lang }}</strong><br />
                {{ 'With public visibility all your activity will be available for anyone who want to access it' | translate:lang }}.
              </sui-radio-button>
            </div>
          </div>
          <button class="ui green button" type="submit">{{ 'Update' | translate:lang }}</button>
        </form>
      </div>

      <div class="edit-form" *ngIf="'password' === currentTab">
        <h2>{{ 'Password' | translate:lang }}</h2>
        <form class="ui form" [ngClass]="{'loading': loading}" (ngSubmit)="updatePassword()" #passwordForm="ngForm">
          <div class="field">
            <label>{{ 'New password' | translate:lang }}</label>
            <input type="password" [(ngModel)]="user.password" name="password" required placeholder="{{ 'New password' | translate:lang }}">
          </div>
          <div class="field">
            <label>{{ 'Repeat password' | translate:lang }}</label>
            <input type="password" [(ngModel)]="repeatedPassword" (keyup)="checkPasswordsMatch()" name="repeatedPassword" required placeholder="{{ 'Repeat password' | translate:lang }}">
          </div>
          <p *ngIf="!passwordsMatch" class="ui red message">{{ "Passwords don't match" | translate:lang }}</p>
          <button class="ui green button" type="submit" [disabled]="!passwordForm.form.valid || !passwordsMatch">{{ 'Update' | translate:lang }}</button>
        </form>
      </div>

      <div class="edit-form" *ngIf="'delete' === currentTab">
        <h2>{{ 'Delete account' | translate:lang }}</h2>
        <form class="ui form" [ngClass]="{'loading': loading}" (ngSubmit)="deleteAccount()">
          <p class="ui red message">{{ 'This action cannot be undone, please, be completely aware of this before deleting your account' | translate:lang
            }}.
          </p>
          <div class="field">
            <label>{{ 'Introduce your username to confirm you want to delete your account' | translate:lang }}</label>
            <input type="text" [(ngModel)]="deleteUsername" name="deleteUsername" required placeholder="{{ user.username }}">
          </div>
          <button class="ui red button" type="submit" [disabled]="deleteUsername !== user.username">{{ 'Delete account' | translate:lang }}</button>
        </form>
      </div>
    </div>

    <div class="four wide column computer tablet only">
      <p class="help-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
  </div>
</section>
