<section class="ui container proposals">
  <h2>{{ 'Your published proposals' | translate:lang }}</h2>
  <div class="ui grid">
    <div class="four wide computer eight wide tablet sixteen wide mobile column proposal" *ngFor="let proposal of ownProposals">
      <a class="ui fluid card" routerLink="/proposals/{{ proposal.id }}">
        <div class="content">
          <div class="header">{{ proposal.title }}</div>
          <div class="meta">
            <span class="category">{{ 'Deadline' | translate:lang }}: {{ proposal.dueDate | localeDate:lang:'fullDate' }}</span>
          </div>
          <div class="description">
            <p>{{ proposal.brief }}</p>
          </div>
        </div>
        <div class="extra content">
          <span class="favour">{{ proposal.votes.FAVOUR }}% {{ 'In favour' | translate:lang }}</span>
          <span class="against">{{ proposal.votes.AGAINST }}% {{ 'Against' | translate:lang }}</span>
        </div>
        <div class="ui bottom attached basic blue button">
          {{ 'View proposal' | translate:lang }}
        </div>
      </a>
    </div>
  </div>

  <h2>{{ 'Your draft proposals' | translate:lang }}</h2>
  <div class="ui grid">
    <div class="four wide computer eight wide tablet sixteen wide mobile column proposal" *ngFor="let proposal of draftProposals">
      <a class="ui fluid card" routerLink="/proposals/{{ proposal.id }}">
        <div class="content">
          <div class="header">{{ proposal.title }}</div>
          <div class="meta">
            <span class="category">{{ 'Deadline' | translate:lang }}: {{ proposal.dueDate | localeDate:lang:'fullDate' }}</span>
          </div>
          <div class="description">
            <p>{{ proposal.brief }}</p>
          </div>
        </div>
        <div class="ui bottom attached basic blue labeled icon button">
          <i class="edit icon"></i> {{ 'Edit proposal' | translate:lang }}
        </div>
      </a>
    </div>
  </div>

  <h2>{{ 'All the proposals' | translate:lang }}</h2>
  <div class="ui grid">
    <div class="four wide computer eight wide tablet sixteen wide mobile column proposal" *ngFor="let proposal of proposals">
      <a class="ui fluid card" routerLink="/proposals/{{ proposal.id }}">
        <div class="content">
          <div class="header">{{ proposal.title }}</div>
          <div class="meta">
            <span class="category">{{ 'Deadline' | translate:lang }}: {{ proposal.dueDate | localeDate:lang:'fullDate' }}</span>
          </div>
          <div class="description">
            <p>{{ proposal.brief }}</p>
          </div>
        </div>
        <div class="extra content">
          <span class="favour">{{ proposal.votes.FAVOUR }}% {{ 'In favour' | translate:lang }}</span>
          <span class="against">{{ proposal.votes.AGAINST }}% {{ 'Against' | translate:lang }}</span>
        </div>
        <div class="ui bottom attached basic blue button">
          {{ 'View proposal' | translate:lang }}
        </div>
      </a>
    </div>
  </div>
</section>
